html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  margin: 0 2vw;
}
.allProjectsBox {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  margin: 10px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.deleteProject {
  width: 30px;
  height: 30px;
  background: #f22;
  /* border-radius: 2px; */
  margin-left: 50px;
  border: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.listBox {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.createList {
  width: 100px;
  height: 100px;
  background: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
}

.createTask {
  height: 50px;
  background: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}

/* .createProject {
  height: 50px;
  width: 200px;
  background: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
} */

/* .createProject:hover {
  opacity: 1;
} */

#homePage {
  text-align: center;
}

#project-description {
  width: 50%;
}

.exampleImages img:not(:last-of-type) {
  margin-right: 2em;
}

h4 {
  font-weight: bold;
  font-size: larger;
}

.deleteList {
  width: 200px;
  height: 25px;
  margin: 15px;
  background: #f56060;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.allLists {
  display: flex;
}

.inline-text_copy--active,
.inline-text_input--active {
  font: inherit;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  text-align: inherit;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 1px dashed #999999;
  outline: none;
}

.inline-text_copy--active {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.inline-text_copy--hidden,
.inline-text_input--hidden {
  display: none;
}

.inline-text_input--active {
  border-bottom: 1px solid #666666;
  font-weight: bold;
  text-align: center;
}

.taskBox {
  margin: 5px;
  padding: 5px;
  border: 1px solid blue;
}

.addCollabButton {
  width: 200px;
  height: 50px;
  padding: 10px;
  background: rgb(120, 215, 247);
  border-radius: 10px;
}

.editTaskButton {
  width: 200px;
  height: 25px;
  margin: 3px;
  background: rgb(120, 215, 247);
  border-radius: 10px;
  text-align: center;
}

.submitTaskChanges {
  width: 200px;
  height: 25px;
  margin: 3px;
  background: rgb(120, 250, 120);
  border-radius: 10px;
  text-align: center;
}

.submitCollabButton {
  width: 150px;
  height: 50px;
  padding: 10px;
  background: rgb(120, 250, 120);
  border-radius: 10px;
}

.hidden {
  display: none;
}

.activeForm {
  width: 300px;
  /* background: lightgreen; */
}

.collabInput {
  border: 1px solid #666666;
  color: black;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.deleteTask {
  width: 200px;
  height: 25px;
  margin: 3px;
  border-radius: 10px;
  text-align: center;
  background-color: #f56060;
}

.taskTitle {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  color: black;
}
.taskNotes {
  text-align: center;
}

.listTitle {
  text-align: center;
  font-weight: bold;
}

.allProjectBoard {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.recordingStuff {
  /* border: 2px solid greenyellow; */
  display: flex;
  align-items: center;
}

.microphone {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.microphone-off{
  border: 1px solid rgb(76, 186, 255);
  background: rgb(76, 186, 255);
}

.microphone-on{
  border: 1px solid rgb(220, 220, 0);
  background: rgb(220, 220, 0);
}

.flexed{
  display:flex;
  align-items: center;
}

.leftMargin {
  margin-left: 25px;
}
.error {
  color: red;
}
.removeCollab{
  margin: 2px 0 2px 10px;
  background: red
}

/* waiting-for-transcript loader */
.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 18px;
    left: 18px;
    width: 4px;
    height: 4px;
    opacity: 0;
  }
  4.9% {
    top: 18px;
    left: 18px;
    width: 4px;
    height: 4px;
    opacity: 0;
  }
  5% {
    top: 18px;
    left: 18px;
    width: 4px;
    height: 4px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}
/* END waiting-for-transcript loader */

.taskNotes{
  text-align: left;
  white-space: pre-wrap;
}
