body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  margin: 0 2vw;
}
.allProjectsBox {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.createNewProject {
  width: 150px;
  height: 150px;
  background: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;

  transition: .2s;
  opacity: .75;
}

.createNewProject:hover{
  opacity: 1;

}

.deleteProject {
  width: 30px;
  height: 30px;
  background: #f22;
  border-radius: 2px;
  margin-left: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#homePage {
  text-align: center;
}

.exampleImages img:not(:last-of-type) {
  margin-right: 2em;
}
*/ lh {
  font-weight: bold;
  font-size: larger;
}
